wallets:
  from_key: ${PRIVATE_KEY}
dotenv: .env
dependencies:
  - OpenZeppelin/openzeppelin-contracts@3.4.0
  - smartcontractkit/chainlink-brownie-contracts@1.1.1
compiler:
  solc:
    remappings:
      - '@openzeppelin=OpenZeppelin/openzeppelin-contracts@3.4.0'
      - '@chainlink=smartcontractkit/chainlink-brownie-contracts@1.1.1'
networks:
  development:
    keyHash: '0x0476f9a745b61ea5c0ab224d3a6e4c99f0b02fce4da01143a4f70aa80ae76e8a'
    fee: 100000000000000000
  goerli:
    vrfCoordinator: '0x2bce784e69d2Ff36c71edcB9F88358dB0DfB55b4'
    linkToken: '0x326C977E6efc84E512bB9C30f76E30c160eD06FB'
    keyHash: '0x0476f9a745b61ea5c0ab224d3a6e4c99f0b02fce4da01143a4f70aa80ae76e8a'
    fee: 100000000000000000 # 0.1 LINK
  mainnet-fork:
    vrfCoordinator:
    linkToken:
    keyHash:
    fee: 


